#appbar {
  background-color: #ced8e0;
  height: 80px;
}

#appbar #toolBar {
  margin-right: 1%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0px;
}

#appbar #toolBar img {
  margin-left: 1%;
  height: 50px;
}

#logo {
  cursor: pointer;
}

#loadingBar {
  position: fixed; /* Add this line */
  top: 0; /* Add this line */
  background: linear-gradient(
    90deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  width: 100%;
  background-size: 200% auto;
  background-position: 0 100%;
  animation: gradient 2s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  height: 4px;
  z-index: 9999;
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}
