#cardContent {
  padding: 0px;
  padding-bottom: 10px;
}

#cardTop {
  display: flex;
  height: 50px;
  background-color: #fcd15a;
}

#cardTop h3 {
  margin: auto;
}

#cardContent p {
  text-align: justify;
}
