.cardContent {
  padding: 0px;
  padding-bottom: 10px;
}

.chipLabel {
  margin: auto;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #fcd15a !important;
  color: #1d1d24;
}

.chipDate {
  margin: auto;
  margin-right: -5px;
}
