#appbar {
  background-color: #ced8e0;
  height: 80px;
}

#appbar #tootBar {
  margin-right: 1%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0px;
}

#appbar #tootBar img {
  margin-left: 1%;
  height: 50px;
}
