#pagination {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  z-index: 1;
}

.fade-enter,
.appear-enter {
  opacity: 0;
}
.fade-enter-active,
.fade-appear-active {
  opacity: 1;
  transition: opacity 200ms;
}
.fade-enter-done,
.fade-appear-done {
  opacity: 1;
}
