@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* iExec Yellow/iexec-yellow-300 = #FCD15A */
    --iexec-yellow-300: hsl(44 96% 67%);
    /* Grey/grey-100 = #F2F2F7 */
    --grey-100: hsl(240 24% 96%);
    /* Grey/grey-800 = #1D1D24 */
    --grey-800: hsl(240 11% 13%);

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: var(--iexec-yellow-300);
    --primary-foreground: var(--grey-800);

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    /*--accent: 210 40% 96.1%;*/
    --accent: var(--grey-100);
    --accent-foreground: 222.2 47.4% 11.2%;
    /*--accent-foreground: var(--grey-grey-100);*/

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: hsl(214.3 31.8% 91.4%);
    --input: var(--grey-800);
    --ring: 222.2 84% 4.9%;

    --radius: 10px; /* border-radius: calc(var(--radius) - 2px); ?? */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  h2 {
    @apply text-2xl font-bold my-4;
  }
}
